In [3]:
!pip install

ERROR: You must give at least one requirement to install (see "pip help install")

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('/content/drive/MyDrive/Document from ùîñùî•ùî¶ùî≥ùîûùî´ùî∞ùî•ùî¶')

UnicodeDecodeError: 'utf-8' codec can't decode bytes in position 15-16: invalid continuation byte

In [4]:
data = pd.read_csv('/content/drive/MyDrive/searchterms (1).csv')

In [5]:
data.head()

   day  month  year      searchterm
0   12     11  2021   mobile 6 inch
1   12     11  2021   mobile latest
2   12     11  2021     tablet wifi
3   12     11  2021  laptop 14 inch
4   12     11  2021       mobile 5g

In [2]:
!pip install

ERROR: You must give at least one requirement to install (see "pip help install")

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName('Pyspark').getOrCreate()

In [7]:
spark

In [16]:
df = spark.read.csv('/content/drive/MyDrive/searchterms (1).csv',header=True,inferSchema=True)

1.Display Top 3 of the dataset

In [14]:
df.show(3)

+---+-----+----+-------------+
|_c0|  _c1| _c2|          _c3|
+---+-----+----+-------------+
|day|month|year|   searchterm|
| 12|   11|2021|mobile 6 inch|
| 12|   11|2021|mobile latest|
+---+-----+----+-------------+
only showing top 3 rows

2.Display  datatype of each column

In [15]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)

3.Display column Names

In [17]:
df.columns

['day', 'month', 'year', 'searchterm']

4.Count Number of rows and columns of the  dataset

In [18]:
df.count()

10000

In [19]:
len(df.columns)

4

5.Get overall Statistics About the dataset

In [21]:
df.describe().show()

+-------+-----------------+------------------+------+-------------------+
|summary|              day|             month|  year|         searchterm|
+-------+-----------------+------------------+------+-------------------+
|  count|            10000|             10000| 10000|              10000|
|   mean|          16.5232|           11.5783|2021.0|               NULL|
| stddev|7.675842208862927|0.4938557475112818|   0.0|               NULL|
|    min|                1|                11|  2021|ebooks data science|
|    max|               30|                12|  2021|        tablet wifi|
+-------+-----------------+------------------+------+-------------------+

6.Find Unique Values available  in a Column

In [22]:
df.columns

['day', 'month', 'year', 'searchterm']

In [27]:
df.toPandas()['searchterm'].unique()

array(['mobile 6 inch', 'mobile latest', 'tablet wifi', 'laptop 14 inch',
       'mobile 5g', 'laptop', 'gaming laptop', 'tablet 10 inch',
       'ebooks data science', 'pen drive'], dtype=object)

7.Find Total Number of Unique Values Available in the searchterm column

In [28]:
len(df.toPandas () ['searchterm'].unique())

10

8.How select single column?

In [29]:
df.show()

+---+-----+----+--------------+
|day|month|year|    searchterm|
+---+-----+----+--------------+
| 12|   11|2021| mobile 6 inch|
| 12|   11|2021| mobile latest|
| 12|   11|2021|   tablet wifi|
| 12|   11|2021|laptop 14 inch|
| 12|   11|2021|     mobile 5g|
| 12|   11|2021| mobile 6 inch|
| 12|   11|2021|        laptop|
| 12|   11|2021|        laptop|
| 12|   11|2021|     mobile 5g|
| 12|   11|2021|   tablet wifi|
| 12|   11|2021|     mobile 5g|
| 12|   11|2021| gaming laptop|
| 12|   11|2021|     mobile 5g|
| 12|   11|2021|     mobile 5g|
| 12|   11|2021| mobile 6 inch|
| 12|   11|2021| mobile latest|
| 12|   11|2021| mobile 6 inch|
| 12|   11|2021|   tablet wifi|
| 12|   11|2021|     mobile 5g|
| 12|   11|2021|        laptop|
+---+-----+----+--------------+
only showing top 20 rows

In [30]:
df.select('Day').show()

+---+
|Day|
+---+
| 12|
| 12|
| 12|
| 12|
| 12|
| 12|
| 12|
| 12|
| 12|
| 12|
| 12|
| 12|
| 12|
| 12|
| 12|
| 12|
| 12|
| 12|
| 12|
| 12|
+---+
only showing top 20 rows

9.How select Multiple columns?

In [31]:
df.select(['day','month']).show()

+---+-----+
|day|month|
+---+-----+
| 12|   11|
| 12|   11|
| 12|   11|
| 12|   11|
| 12|   11|
| 12|   11|
| 12|   11|
| 12|   11|
| 12|   11|
| 12|   11|
| 12|   11|
| 12|   11|
| 12|   11|
| 12|   11|
| 12|   11|
| 12|   11|
| 12|   11|
| 12|   11|
| 12|   11|
| 12|   11|
+---+-----+
only showing top 20 rows

10.Rename  searchterm column And new name "most  frequent search"

In [34]:
df=df.withColumnRenamed('searchterm','Most Frequent Search')

In [35]:
df.show()

+---+-----+----+--------------------+
|day|month|year|Most Frequent Search|
+---+-----+----+--------------------+
| 12|   11|2021|       mobile 6 inch|
| 12|   11|2021|       mobile latest|
| 12|   11|2021|         tablet wifi|
| 12|   11|2021|      laptop 14 inch|
| 12|   11|2021|           mobile 5g|
| 12|   11|2021|       mobile 6 inch|
| 12|   11|2021|              laptop|
| 12|   11|2021|              laptop|
| 12|   11|2021|           mobile 5g|
| 12|   11|2021|         tablet wifi|
| 12|   11|2021|           mobile 5g|
| 12|   11|2021|       gaming laptop|
| 12|   11|2021|           mobile 5g|
| 12|   11|2021|           mobile 5g|
| 12|   11|2021|       mobile 6 inch|
| 12|   11|2021|       mobile latest|
| 12|   11|2021|       mobile 6 inch|
| 12|   11|2021|         tablet wifi|
| 12|   11|2021|           mobile 5g|
| 12|   11|2021|              laptop|
+---+-----+----+--------------------+
only showing top 20 rows

11.Display month having greater than 15 searches

In [42]:
df.filter(df['day'] > 5).show()

+---+-----+----+--------------------+
|day|month|year|Most Frequent Search|
+---+-----+----+--------------------+
| 12|   11|2021|       mobile 6 inch|
| 12|   11|2021|       mobile latest|
| 12|   11|2021|         tablet wifi|
| 12|   11|2021|      laptop 14 inch|
| 12|   11|2021|           mobile 5g|
| 12|   11|2021|       mobile 6 inch|
| 12|   11|2021|              laptop|
| 12|   11|2021|              laptop|
| 12|   11|2021|           mobile 5g|
| 12|   11|2021|         tablet wifi|
| 12|   11|2021|           mobile 5g|
| 12|   11|2021|       gaming laptop|
| 12|   11|2021|           mobile 5g|
| 12|   11|2021|           mobile 5g|
| 12|   11|2021|       mobile 6 inch|
| 12|   11|2021|       mobile latest|
| 12|   11|2021|       mobile 6 inch|
| 12|   11|2021|         tablet wifi|
| 12|   11|2021|           mobile 5g|
| 12|   11|2021|              laptop|
+---+-----+----+--------------------+
only showing top 20 rows

In [45]:
df.filter(df['day'] > 5).select('month').show()

+-----+
|month|
+-----+
|   11|
|   11|
|   11|
|   11|
|   11|
|   11|
|   11|
|   11|
|   11|
|   11|
|   11|
|   11|
|   11|
|   11|
|   11|
|   11|
|   11|
|   11|
|   11|
|   11|
+-----+
only showing top 20 rows

12.Dispaly month and year having count greater than 34

In [46]:
df.filter(df['day'] > 5).select(['month','year']).show()

+-----+----+
|month|year|
+-----+----+
|   11|2021|
|   11|2021|
|   11|2021|
|   11|2021|
|   11|2021|
|   11|2021|
|   11|2021|
|   11|2021|
|   11|2021|
|   11|2021|
|   11|2021|
|   11|2021|
|   11|2021|
|   11|2021|
|   11|2021|
|   11|2021|
|   11|2021|
|   11|2021|
|   11|2021|
|   11|2021|
+-----+----+
only showing top 20 rows

13. Searches per Year

In [61]:
searches_per_year = df.groupBy("year").count()
searches_per_year.show()

+----+-----+
|year|count|
+----+-----+
|2021|10000|
+----+-----+

14.TOp 10 most searched terms

In [71]:
monthly_searches = df.groupBy("year", "month").count().orderBy("year", "month")
monthly_searches.show()

+----+-----+-----+
|year|month|count|
+----+-----+-----+
|2021|   11| 4217|
|2021|   12| 5783|
+----+-----+-----+

15.total searches in the year

In [75]:
print("Total searches:", df.count())

Total searches: 10000

16. Total count of searches per day

In [85]:
df.groupBy("day").count().orderBy("day").show()

+---+-----+
|day|count|
+---+-----+
|  1|  232|
|  2|  232|
|  3|  232|
|  4|  233|
|  5|  232|
|  6|  232|
|  7|  232|
|  8|  233|
|  9|  232|
| 10|  232|
| 11|  232|
| 12|  269|
| 13|  464|
| 14|  465|
| 15|  465|
| 16|  464|
| 17|  464|
| 18|  465|
| 19|  465|
| 20|  464|
+---+-----+
only showing top 20 rows

17.order of the given data per day and month

In [86]:
df.groupBy("day").count().orderBy("day").show()

+---+-----+
|day|count|
+---+-----+
|  1|  232|
|  2|  232|
|  3|  232|
|  4|  233|
|  5|  232|
|  6|  232|
|  7|  232|
|  8|  233|
|  9|  232|
| 10|  232|
| 11|  232|
| 12|  269|
| 13|  464|
| 14|  465|
| 15|  465|
| 16|  464|
| 17|  464|
| 18|  465|
| 19|  465|
| 20|  464|
+---+-----+
only showing top 20 rows

18.sort every row of the dataset into descending order

In [87]:
df.orderBy(df['month']).show()

+---+-----+----+--------------------+
|day|month|year|Most Frequent Search|
+---+-----+----+--------------------+
| 12|   11|2021|       mobile 6 inch|
| 12|   11|2021|       mobile latest|
| 12|   11|2021|         tablet wifi|
| 12|   11|2021|      laptop 14 inch|
| 12|   11|2021|           mobile 5g|
| 12|   11|2021|       mobile 6 inch|
| 12|   11|2021|              laptop|
| 12|   11|2021|              laptop|
| 12|   11|2021|           mobile 5g|
| 12|   11|2021|         tablet wifi|
| 12|   11|2021|           mobile 5g|
| 12|   11|2021|       gaming laptop|
| 12|   11|2021|           mobile 5g|
| 12|   11|2021|           mobile 5g|
| 12|   11|2021|       mobile 6 inch|
| 12|   11|2021|       mobile latest|
| 12|   11|2021|       mobile 6 inch|
| 12|   11|2021|         tablet wifi|
| 12|   11|2021|           mobile 5g|
| 12|   11|2021|              laptop|
+---+-----+----+--------------------+
only showing top 20 rows